
:root{
    font-size: 1em;
    --back-color:#666;
    --back-btn-color:#fe65e3;
}
*,*::after,*::before{
    padding: 0;
    margin:0;
    border: 0;
    box-sizing: border-box;
}

body{
   position:relative;
   top: 0;
   left: 0;
    background-color: var(--back-color);
    width:100vw;
    height: 100vh;
}

.mybtn{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50% ,-50%);
    padding: 10px 20px;
    background-color: var(--back-btn-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.invisible{
    visibility: hidden; 
}
  
#container{
    position: absolute; 
    top: 50%;
    left: 800px; 
    overflow: hidden; 
    width: 300px;
    height: 300px;
    white-space: nowrap;
}
.slide{
     position: absolute; 
     top: 0;
    left: 0; 
    width: 600px;
    height: 300px;
    transition: all 1s;
}

.move1{
    left: -302px;
}

.move2{
    left: -604px;
}

.move3{
    left: -906px;
}
